<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/normalize.css"/>
    <link rel="stylesheet" href="/public/skeleton.css"/>
    <title>Budgets</title>
</head>
<body>
    <div class="container">
        <h1>Budgtr</h1>
    <nav>
        <a href="/budgets/new"><button>Add New Budget Item</button></a>
    </nav>
        <table>
            <tr>
            <% for (let item in budgetItem) { %> 
            <td><%=budgetItem[item].date%></td>
            <td>
            <a href="/budgets/<%=item%>"><%=budgetItem[item].name%></a>
            <td><%=budgetItem[item].amount%></td>
            </td>
            </tr>
            <% } %> 
        </table>
    </div>
    <button href="/">Show Detail</button>
</body>
</html>